*{
    margin: 0px;
    padding: 0px;
}
body{
   background-image:url("bg1.jpg");
    background-size: cover;
   background-repeat: repeat;
}
.navbar-brand img
{
    width: 110px; ;
}
.navbar{
    padding:20px;
}
a:link,a:visited{
    color:rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}

a:hover,a:active{
    color:maroon;

    text-decoration: line;
}

.col-left{
    position:relative;
    padding-left:0px ;
    padding-top: 5px;
    padding-right: 280px;
    display:flex;

}
.col-right{
    position:absolute;
    padding-top: 0px;
    padding-left:600px; 
}